$bg-color: linear-gradient(180deg, #ffc8fc 0%, #ea74f5 100%);
$bg-image: url('../../public/img/sakura-background.png');

$menu-color: linear-gradient(180deg, #f091f8 0%, #f5c3fc 100%);
$menu-color-hover: linear-gradient(180deg, #f9c6fd 0%, #f4a3ff 100%);
