<div id="footer">
    <div class="info">
        <div class="name-info">

        </div>
        <div class="address-info">
            
        </div>
    </div>
    <div class="contact">
        <a href="https://www.facebook.com" class="contact-link">Facebook</a>
        <a href="https://www.instagram.com" class="contact-link">Instagram</a>
        <a href="https://www.facebook.com" class="contact-link">Facebook</a>
    </div>
</div>