

<div class="list-game">
    <div class="game-play memory-game">
      <a href="/memory-game">Memory game</a>
    </div>
    <div class="game-play snake-game">
      <a href="/snake-game">Snake game</a>
    </div>
    <div class="game-play xo-game">
      <a href="/xo-game">XO game</a> 
    </div>
    <div class="game-play contact">
      <a href="/contact">Contact</a> 
    </div>
</div>
<div class="game-display"></div>