

<div class="game-display">
    <div class="game-score">Score: <span class="score-value">0</span></div>
    <div onclick="memoryGame()" class="game-time start-button">Start</div>
    <div class="game-board"></div>
</div>
